<header>
    <a href="/">my Library</a>
    <nav>
        <ul>
            <li><a href="/authors">authors</a></li>
            <li><a href="/authors/new">Add author</a>
            </li>
        </ul>
    </nav>
</header>